package-manager=pnpm@9
shamefully-hoist=true
prefer-frozen-lockfile=true
prefer-offline=true
fetch-timeout=60000
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
registry=https://registry.npmjs.org/
strict-peer-dependencies=false
node-linker=hoisted
ignore-scripts=true
fetch-retries=3
